.claseBoton{
  display: flex;
  align-items: center;
  justify-content: center;
}

.advertenciaOculta{
  transition: 300ms;
}

.contenedorTarjeta{
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 1404px) {
  img {
    display: none;
  }
}
