<div class="contenedorTarjeta">
  <mat-card class="tarjeta">
    <mat-card-title-group>
      <mat-card-title>Somos tu mejor opción</mat-card-title>
      <mat-card-title>
        <mat-list role="list">
          <mat-list-item role="listitem">- Tenemos los precios más bajos del mercado</mat-list-item>
          <mat-list-item role="listitem">- Contamos con un excelente seguro de salud</mat-list-item>
          <mat-list-item role="listitem">- Nuestros aviones cuentan y superan por mucho los estándares internacionales</mat-list-item>
          <mat-list-item role="listitem">- Antes de continuar te pido que leas el siguiente anuncio dando click en el botón rojo </mat-list-item>
          <div class="claseBoton">
            <button mat-raised-button color="warn" (click)="advertencia()" class="botonAdvertencia">Advertencia</button>
          </div>
          <h3 id="advertenciaOculta" class="advertenciaOculta"></h3>
          <mat-list-item role="listitem">- Tenemos convenios con países como InventadoSistan o País de los juguetes </mat-list-item>
          <mat-list-item role="listitem">- Nuestros chefs preparan las mejores hamburguesas del mundo </mat-list-item>
          <mat-list-item role="listitem">- Contamos con masajes duarnte su vuelo, para que llegue a su muy relajado</mat-list-item>
          <mat-list-item role="listitem">- Todos los hoteles con los que tenemos convenio son 5 estrellas, por lo que su comodidad está garantizada</mat-list-item>
        </mat-list>
      </mat-card-title>
      <img
        mat-card-xxl-image
        src="https://cdn.pixabay.com/photo/2021/10/02/09/18/airplane-6674689_960_720.jpg"
      />
    </mat-card-title-group>
  </mat-card>
</div>
